@import url("https://fonts.googleapis.com/css?family=Poppins:400");
* {
  margin: 0;
  padding: 0;
}

/* Font Setting */
html {
  font-size: 100%;
}

body {
  background: white;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  line-height: 1.75;
  color: #000000;
  max-width: 1400px;
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  line-height: 1.3;
}

h1 {
  font-size: 3.052rem;
}

h2 {
  font-size: 2.441rem;
}

h3 {
  font-size: 1.953rem;
}

h4 {
  font-size: 1.563rem;
}

h5 {
  font-size: 1.25rem;
}

small,
.text_small {
  font-size: 0.8rem;
}

/* SASS usage */
/* Variables */
/* Header */
.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 20vh;
  background-color: #50191a;
}

.hero .logo_np {
  width: 200px;
}

.hero .logo_wd {
  width: 45vh;
}

nav {
  height: 6vh;
  background-color: #000000;
  font-size: 1.5rem;
  padding: 0 1em;
}

nav li {
  display: inline-block;
  padding-left: 2rem;
}

nav li a {
  color: #ffffff;
  text-decoration: none;
}

main .date {
  margin: 4vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

main .howTo_banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main .blog_posts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 90%;
  margin: 4vh auto;
}

main .blog_posts h3 {
  margin: 2vh 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 2vh;
  height: 8vh;
  background-color: #e5e5e5;
}

main .blog_posts .thumbnails_container {
  margin: 2vh 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

main .blog_posts .thumbnails_container a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-decoration: none;
  height: 100%;
}

main .blog_posts .thumbnails_container a img {
  height: 30vh;
  max-width: 40vh;
  -o-object-fit: cover;
     object-fit: cover;
}

main .blog_posts .thumbnails_container a p {
  font-size: 1.2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 1rem;
  color: #ffffff;
  background-color: #000000;
  max-width: 40vh;
  height: 8vh;
}

.thumbnail {
  margin: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
}

.thumbnail img {
  height: 30vh;
  max-width: 40vh;
  -o-object-fit: cover;
     object-fit: cover;
}

.thumbnail p {
  font-size: 1.2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 1rem;
  color: #ffffff;
  background-color: #000000;
  max-width: 40vh;
  height: 8vh;
}

.below_posts_container {
  margin: 4vh 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.below_posts_container .thumbnail_below {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
}

.below_posts_container .thumbnail_below img {
  height: 45vh;
  max-width: 50vh;
  -o-object-fit: cover;
     object-fit: cover;
}

.below_posts_container .thumbnail_below p {
  font-size: 1.2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 1rem;
  color: #ffffff;
  background-color: #000000;
  max-width: 50vh;
  height: 10vh;
}

footer {
  background-color: #000000;
  height: 26vh;
}

footer .nav_plus_logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1vh 3vh;
}

footer .nav_plus_logo nav {
  height: 6vh;
  background-color: #000000;
  font-size: 1.3rem;
  padding: 1.2rem;
}

footer .nav_plus_logo nav li {
  display: inline-block;
  padding-left: 2rem;
}

footer .nav_plus_logo nav li a {
  color: #ffffff;
  text-decoration: none;
}

footer .nav_plus_logo img {
  width: 300px;
  height: 60px;
}

.credits {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  font-size: 1.3rem;
  color: #ffffff;
}

/* ---------------Media Query Setting--------------------- */
/* @media (min-width: 481px) and (max-width: 910px) {
  
}
 */
@media (max-width: 480px) {
  .hero .logo_wd {
    display: none;
  }
  .hero .logo_np {
    width: 300px;
  }
  nav {
    font-size: 1rem;
  }
  nav li {
    padding-top: 0.5rem;
  }
  main .date {
    display: none;
  }
  main .blog_posts h3 {
    font-size: 1.4rem;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  main .blog_posts .thumbnails_container a p {
    font-size: 0.8rem;
  }
  main .howTo_banner {
    display: none;
  }
  main .thumbnail p {
    font-size: 1.2em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-top: 1rem;
    color: #ffffff;
    background-color: #000000;
    font-size: 0.8rem;
  }
  main .below_posts_container .thumbnail_below {
    margin: 4vh 0;
  }
  main .below_posts_container .thumbnail_below img {
    height: 30vh;
    max-width: 40vh;
  }
  main .below_posts_container .thumbnail_below p {
    font-size: 0.8rem;
    max-width: 40vh;
    height: 8vh;
  }
  footer {
    height: 35vh;
  }
  footer .nav_plus_logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 4vh 3vh 2vh 3vh;
  }
  footer .nav_plus_logo nav {
    height: 6vh;
    background-color: #000000;
    font-size: 0.9rem;
    padding-top: 4vh;
  }
  footer .nav_plus_logo nav li {
    display: inline-block;
    padding-left: 2rem;
  }
  footer .nav_plus_logo nav li a {
    color: #ffffff;
    text-decoration: none;
  }
  footer .nav_plus_logo img {
    width: 230px;
    height: 50px;
  }
  .credits {
    font-size: 0.7rem;
  }
}
/*# sourceMappingURL=styles.css.map */